body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 1rem;
    background-color: #236cbb;
    color: #fff;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-title {
    margin-left: 1rem;
    font-size: 1.5rem; 
    font-family: 'Roboto', sans-serif;
}
  
.navbar-logo {
    height: 50px;
    width: auto;
}
  
.navbar-menu {
    list-style: none;
    margin-left: auto;
    display: flex;
    gap: 1rem;
}
  
.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    transition: color 0.3s;
    font-family: 'Roboto', sans-serif;
}
  
.navbar-item:hover {
    color: #ddd;
}

.navbar-menu ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
}
  